<template>
    <div>
      <section id="cart_items">
        <div class="container">
          <div class="breadcrumbs">
            <ol class="breadcrumb">
              <li><a href="#">Home</a></li>
              <li class="active">Shopping Cart</li>
            </ol>
          </div>
          <div class="table-responsive cart_info">
            <table class="table table-condensed">
              <thead>
              <tr class="cart_menu">
                <td class="image">Item</td>
                <td class="description"></td>
                <td class="price">Price</td>
                <td class="quantity">Quantity</td>
                <td class="total">Total</td>
                <td></td>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td class="cart_product">
                  <a href=""><img src="images/cart/one.png" alt=""></a>
                </td>
                <td class="cart_description">
                  <h4><a href="">Colorblock Scuba</a></h4>
                  <p>Web ID: 1089772</p>
                </td>
                <td class="cart_price">
                  <p>$59</p>
                </td>
                <td class="cart_quantity">
                  <div class="cart_quantity_button">
                    <a class="cart_quantity_up" href=""> + </a>
                    <input class="cart_quantity_input" type="text" name="quantity" value="1" autocomplete="off" size="2">
                    <a class="cart_quantity_down" href=""> - </a>
                  </div>
                </td>
                <td class="cart_total">
                  <p class="cart_total_price">$59</p>
                </td>
                <td class="cart_delete">
                  <a class="cart_quantity_delete" href=""><i class="fa fa-times"></i></a>
                </td>
              </tr>

              <tr>
                <td class="cart_product">
                  <a href=""><img src="images/cart/two.png" alt=""></a>
                </td>
                <td class="cart_description">
                  <h4><a href="">Colorblock Scuba</a></h4>
                  <p>Web ID: 1089772</p>
                </td>
                <td class="cart_price">
                  <p>$59</p>
                </td>
                <td class="cart_quantity">
                  <div class="cart_quantity_button">
                    <a class="cart_quantity_up" href=""> + </a>
                    <input class="cart_quantity_input" type="text" name="quantity" value="1" autocomplete="off" size="2">
                    <a class="cart_quantity_down" href=""> - </a>
                  </div>
                </td>
                <td class="cart_total">
                  <p class="cart_total_price">$59</p>
                </td>
                <td class="cart_delete">
                  <a class="cart_quantity_delete" href=""><i class="fa fa-times"></i></a>
                </td>
              </tr>
              <tr>
                <td class="cart_product">
                  <a href=""><img src="images/cart/three.png" alt=""></a>
                </td>
                <td class="cart_description">
                  <h4><a href="">Colorblock Scuba</a></h4>
                  <p>Web ID: 1089772</p>
                </td>
                <td class="cart_price">
                  <p>$59</p>
                </td>
                <td class="cart_quantity">
                  <div class="cart_quantity_button">
                    <a class="cart_quantity_up" href=""> + </a>
                    <input class="cart_quantity_input" type="text" name="quantity" value="1" autocomplete="off" size="2">
                    <a class="cart_quantity_down" href=""> - </a>
                  </div>
                </td>
                <td class="cart_total">
                  <p class="cart_total_price">$59</p>
                </td>
                <td class="cart_delete">
                  <a class="cart_quantity_delete" href=""><i class="fa fa-times"></i></a>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </section>

      <section id="do_action">
        <div class="container">
          <div class="row">
            <div class="col-sm-6">

            </div>
            <div class="col-sm-6">
              <div class="total_area">
                <ul>
                  <li>Cart Sub Total <span>$59</span></li>
                  <li>Shipping Cost <span>Free</span></li>
                  <li>Total <span>$61</span></li>
                </ul>
                <a class="btn btn-default check_out" href="">Check Out</a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
</template>

<script>
    export default {
        name: "Cart",
      head() {
        return {
          title: 'Online Shop | Cart',
          meta: [
            {
              hid: 'description',
              name: 'description',
              content: 'Cart Page'
            }
          ]
        }
      }
    }
</script>

<style scoped>

</style>